<div class="card" style="background-color: #dc3545;" appNotEligibility [price]="cost" [projectType]="projectType">
    <div class="card-body">
       
        <p style="color: #fff;">
            Nous sommes désolés ! <br>
            Vous n'êtes pas éligible à notre programme d'aides et d'accompagnement.
        </p>
        <div style="text-align: center;">
            <button class="btn btn-dark" style="width: 150px;" (click)="deleteAllData()">Ok</button>
        </div>
        
    </div>
</div>
